<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbonoz SolarAutopilot</title>
 

   <style>
   :root {
    --primary-color: #DEAF0B;
    --bg-color: #f5f6fa;
    --text-color: #2f3640;
    --icon-color: #636e72;
}

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--bg-color);
    
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 280px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    z-index: 10;
}

.sidebar.collapsed {
    width: 80px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo-icon {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.logo-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--text-color);
    font-size: 18px;
}

.logo-text .highlight {
    color: var(--primary-color);;
}

.search {
    padding: 10px 20px;
}

.search input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdde1;
    border-radius: 4px;
    font-size: 16px;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}
nav li a{
    text-decoration: none;
    color: #2f3640;
    font-weight: bold;
}
nav li:hover {
    background-color: var(--bg-color);
}

nav li i {
    margin-right: 15px;
    color: var(--icon-color);
    font-size: 24px;
}

.bottom-options {
    padding: 20px;
    border-top: 1px solid #dcdde1;
}

.toggle-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;
}

.toggle-text {
    margin-right: 10px;
}

.toggle-switch {
    width: 50px;
    height: 25px;
    background-color: #dcdde1;
    border-radius: 12.5px;
    position: relative;
    transition: background-color 0.3s;
}

.toggle-switch::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.toggle-switch.active {
    background-color: var(--primary-color);
}

.toggle-switch.active::before {
    transform: translateX(25px);
}

.sidebar.collapsed .logo-text,
.sidebar.collapsed .search,
.sidebar.collapsed nav li span,
.sidebar.collapsed .toggle-text {
    display: none;
}

.sidebar.collapsed .logo {
    justify-content: center;
}

.sidebar.collapsed nav li {
    justify-content: center;
}

.sidebar.collapsed nav li i {
    margin-right: 0;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 5;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.content-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 100%;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .sidebar.collapsed {
        width: 100%;
    }

    .main-container {
        width: 100%;
    }
}

/* loading css */

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #e0e0e0;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



 


  
  .card-section.gauges {
  padding: 0;
}

.gauge {
  position: relative;
  width: 11.5em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media only screen and (max-width: 62em) {
  .gauge {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}

.gauge .mask {
  display: block;
  position: relative;
  overflow: hidden;
  width: 11.5em;
  height: 5.75em;
}

.gauge .semi-circle {
  position: relative;
  display: block;
  margin: 1px 1px 0;
  width: calc(11.5em - 2px);
  height: calc(5.75em - 1px);
  border-radius: 50% 50% 50% 50% / 100% 100% 0 0;
}

.gauge .semi-circle.blue {
  background: linear-gradient(-45deg, #00b7ff, #001aff, #6588e8, #0048ff);
  background-size: 400% 400%;
  animation: animated-gradient 5s ease infinite;
}

.gauge .semi-circle.yellow {
  background: linear-gradient(-120deg, #fff900, #ffb100, #ffe500, #ffe396);
  background-size: 400% 400%;
  animation: animated-gradient 10s ease infinite;
}

.gauge .semi-circle.red {
  background: linear-gradient(-75deg, #ffa200, red, #ff664d, red);
  background-size: 400% 400%;
  animation: animated-gradient 5s ease infinite;
}

.gauge .semi-circle.green {
  background: linear-gradient(120deg, #3bff29, #3e9e00, #00ff0f, #92ff7f);
  background-size: 400% 400%;
  animation: animated-gradient 3s ease infinite;
}

.gauge .semi-circle:before {
  display: block;
  position: absolute;
  bottom: -2px;
  content: "";
  left: 50%;
  z-index: 2;
  width: 8.5em;
  height: 4.25em;
  margin-left: -4.25em;
  background: #fff;
  border-radius: 50% 50% 50% 50% / 100% 100% 0 0;
}

.gauge .semi-circle--mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 11.5em;
  height: 11.5em;
  background: transparent;
  transform: rotate(0deg);
  transform-origin: center center;
  backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.gauge .semi-circle--mask:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 11.5em;
  height: 5.75em;
  background: #efefef;
  border-radius: 50% 50% 50% 50% / 100% 100% 0 0;
}

.gauge .value {
  position: absolute;
  bottom: 3.5em;
  width: 11.5em;
  text-align: center;
  font-weight: 700;
  z-index: 3;
}

@media only screen and (max-width: 62em) {
  .gauge .value {
    bottom: 3em;
  }
}

.gauge .label {
  position: absolute;
  bottom: 2em;
  width: 11.5em;
  text-align: center;
  font-size: 1em;
  z-index: 3;
}

@media only screen and (max-width: 62em) {
  .gauge .label {
    bottom: 1.5em;
  }
}

@keyframes animated-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.half {
  flex-basis: 50%;
}



.dashboard-column {
  flex-basis: calc(33.33333% - 2px);
  margin-right: 2px;
  margin-bottom: 2px;
}

@media only screen and (max-width: 128em) {
  .dashboard-column {
    flex-basis: calc(50% - 2px);
  }
}

@media only screen and (max-width: 62em) {
  .dashboard-column {
    flex-basis: calc(100% - 2px);
  }
}

.dashboard-column .card {
  border: 0;
}

.dashboard-column .card .iframe-overview {
  display: block;
  height: 100%;
  min-height: 22em;
  width: 100%;
}

@media only screen and (max-width: 46em) {
  .dashboard-column .card .iframe-overview {
    min-height: 18em;
  }
}

.dashboard-column .card .iframe-battery-power {
  display: block;
  height: 60%;
  min-height: 18em;
  width: 100%;
}

@media only screen and (max-width: 46em) {
  .dashboard-column .card .iframe-battery-power {
    min-height: 15em;
  }
}

.dashboard-column .card .iframe-battery-soc {
  display: block;
  height: 40%;
  min-height: 14em;
  width: 100%;
}

@media only screen and (max-width: 46em) {
  .dashboard-column .card .iframe-battery-soc {
    min-height: 12em;
  }
}
   </style>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
   
    <div class="container">
        <div id="loadingOverlay" class="loading-overlay">
            <div class="loading-spinner"></div>
          </div>
          <div id="pageContent"> </div>
        <div class="sidebar" id="sidebar">
            <div class="logo">
              <div class="logo-icon"><img src="https://carbonoz.com/assets/images/image04.jpg?v=8b5d1d9b" width="45px" alt=""></div>
                <span class="logo-text">Carbonoz <span class="highlight">SolarAutopilot</span></span>
            </div>
            <div class="search">
                <input type="text" placeholder="Search...">
            </div>
            <nav>
              <ul>
                <li><a href="<%= ingress_path %>/"><i>🏠</i><span>Dashboard</span></a></li>
                <li><a href="<%= ingress_path %>/dashboard"><i>⚡</i><span>Energy</span></a></li>
                <li><a href="<%= ingress_path %>/chart"><i>📊</i><span>Charts</span></a></li>
                <li><a href="<%= ingress_path %>/messages"><i>💬</i><span>Messages</span></a></li>
                <li><a href="<%= ingress_path %>/settings"><i>⚙️</i><span>Settings</span></a></li>
                <li><a href="<%= ingress_path %>/analytics"><i>📈</i><span>Analytics</span></a></li>
            </ul>
            </nav>
            <div class="bottom-options">
                <div class="toggle-sidebar" id="toggleSidebar">
                    <span class="toggle-text">Collapse sidebar</span>
                    <div class="toggle-switch" id="toggleSwitch"></div>
                </div>
            </div>
        </div>

        <div class="main-container">
            <header>
                <h1>Dashboard</h1>
            </header>

            <div class="main-content">
                <div class="content-card">
              
                  <div class="card-section gauges no-padding flex" id="gaugeSection">
                    <div class="half">
                        <div class="gauge" data-type="loadPower">
                            <div class="mask">
                                <div class="semi-circle blue"></div>
                                <div class="semi-circle--mask"></div>
                            </div>
                            <div class="value"></div>
                            <div class="label">Load</div>
                        </div>
                    </div>
                    <div class="half">
                        <div class="gauge" data-type="solarProduction">
                            <div class="mask">
                                <div class="semi-circle yellow"></div>
                                <div class="semi-circle--mask"></div>
                            </div>
                            <div class="value"></div>
                            <div class="label">Solar PV</div>
                        </div>
                    </div>
                    <div class="half">
                        <div class="gauge" data-type="gridVoltage">
                            <div class="mask">
                                <div class="semi-circle yellow"></div>
                                <div class="semi-circle--mask"></div>
                            </div>
                            <div class="value"></div>
                            <div class="label">Grid V</div>
                        </div>
                    </div>
                    <div class="half">
                        <div class="gauge" data-type="gridImport">
                            <div class="mask">
                                <div class="semi-circle red"></div>
                                <div class="semi-circle--mask"></div>
                            </div>
                            <div class="value"></div>
                            <div class="label">Grid</div>
                        </div>
                    </div>
                    <div class="half">
                        <div class="gauge" data-type="batteryStateOfCharge">
                            <div class="mask">
                                <div class="semi-circle green"></div>
                                <div class="semi-circle--mask"></div>
                            </div>
                            <div class="value"></div>
                            <div class="label">Battery (SoC)</div>
                        </div>
                    </div>
                    <div class="half">
                        <div class="gauge" data-type="BatteryPower">
                            <div class="mask">
                                <div class="semi-circle green"></div>
                                <div class="semi-circle--mask"></div>
                            </div>
                            <div class="value"></div>
                            <div class="label">Battery</div>
                        </div>
                    </div>

                    <div class="half">
                      <div class="gauge" data-type="BatteryVoltage">
                          <div class="mask">
                              <div class="semi-circle aqua"></div>
                              <div class="semi-circle--mask"></div>
                          </div>
                          <div class="value"></div>
                          <div class="label">Battery V</div>
                      </div>
                  </div>
                </div>
                
                    <div class="dashboard-column">
                        <div class="card">
                            <iframe src="http://<%= mqtt_host %>:3000/d-solo/solar_dashboard?orgId=1&refresh=1m&panelId=2&theme=light" class="iframe-overview" scrolling="no"
                                    frameborder="0">
                            </iframe>
                        </div>
                    </div>
                
                    <div class="dashboard-column">
                        <div class="card column-4">
                            <iframe src="http://<%= mqtt_host %>:3000/d-solo/solar_dashboard?orgId=1&refresh=1m&panelId=217&theme=light" class="iframe-battery-power"
                                    scrolling="no" frameborder="0">
                            </iframe>
                            <iframe src="http://<%= mqtt_host %>:3000/d-solo/solar_dashboard??orgId=1&refresh=1m&panelId=139&theme=light" class="iframe-battery-soc"
                                    scrolling="no" frameborder="0">
                            </iframe>
                        </div>
                    </div>


                      </section>
                      

                
                </div>
            </div>

            <footer>
                <p>&copy; 2024 Carbonoz SolarAutopilot. All rights reserved.</p>
            </footer>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script>
      function updateGauges() {
          fetch('<%= ingress_path %>/api/realtime-data')
              .then(response => response.json())
              .then(data => {
                  updateGauge('loadPower', data.loadPower.value, 10000, 'W');
                  updateGauge('solarProduction', data.solarProduction.value, 10000, 'W');
                  updateGauge('gridVoltage', data.gridVoltage.value, 500, 'V');
                  updateGauge('gridImport', data.gridImport.value, 10000, 'W');
                  updateGauge('batteryStateOfCharge', data.batteryStateOfCharge.value, 100, '%');
                  updateGauge('BatteryPower', data.BatteryPower.value, 10000, 'W');
                  updateGauge('BatteryVoltage', data.BatteryVoltage.value, 100, 'V');  // New BatteryVoltage gauge
              })
              .catch(error => console.error('Error fetching real-time data:', error));
      }
  
      function updateGauge(type, value, maxValue, unit) {
          const gauge = document.querySelector(`.gauge[data-type="${type}"]`);
          if (!gauge) return;
  
          const mask = gauge.querySelector('.semi-circle--mask');
          const valueElement = gauge.querySelector('.value');
  
          value = Number(value);
          if (isNaN(value)) value = 0;
          value = Math.max(0, Math.min(value, maxValue));
  
          const rotation = (value / maxValue) * 180;
  
          mask.style.transform = `rotate(${rotation}deg)`;
          valueElement.textContent = `${value} ${unit}`;
      }
  
      setInterval(updateGauges, 5000);
      document.addEventListener('DOMContentLoaded', updateGauges);
  </script>
  
    
       
       <script>
        // toggle sidebar
      
        const sidebar = document.getElementById('sidebar');
        const toggleSidebar = document.getElementById('toggleSidebar');
        const toggleSwitch = document.getElementById('toggleSwitch');
        
        toggleSidebar.addEventListener('click', () => {
          sidebar.classList.toggle('collapsed');
          toggleSwitch.classList.toggle('active');
        });
        
        
        // loading js
        
        document.addEventListener('DOMContentLoaded', function() {
          const loadingOverlay = document.getElementById('loadingOverlay');
          const pageContent = document.getElementById('pageContent');
        
          // Simulate loading time (you can adjust this as needed)
          setTimeout(() => {
            loadingOverlay.style.display = 'none';
            pageContent.style.display = 'block';
            // Trigger a custom event to signal that the page is ready
            document.dispatchEvent(new Event('pageReady'));
          }, 1500); // 1.5 seconds loading time
        });
       </script>
</body>
</html>
