<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbonoz SolarAutopilot</title>
 

   <style>
   :root {
    --primary-color: #DEAF0B;
    --bg-color: #f5f6fa;
    --text-color: #2f3640;
    --icon-color: #636e72;
}

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--bg-color);
    
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 280px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    z-index: 10;
}

.sidebar.collapsed {
    width: 80px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo-icon {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.logo-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--text-color);
    font-size: 18px;
}

.logo-text .highlight {
    color: var(--primary-color);;
}

.search {
    padding: 10px 20px;
}

.search input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdde1;
    border-radius: 4px;
    font-size: 16px;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}
nav li a{
    text-decoration: none;
    color: #2f3640;
    font-weight: bold;
}
nav li:hover {
    background-color: var(--bg-color);
}

nav li i {
    margin-right: 15px;
    color: var(--icon-color);
    font-size: 24px;
}

.bottom-options {
    padding: 20px;
    border-top: 1px solid #dcdde1;
}

.toggle-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;
}

.toggle-text {
    margin-right: 10px;
}

.toggle-switch {
    width: 50px;
    height: 25px;
    background-color: #dcdde1;
    border-radius: 12.5px;
    position: relative;
    transition: background-color 0.3s;
}

.toggle-switch::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.toggle-switch.active {
    background-color: var(--primary-color);
}

.toggle-switch.active::before {
    transform: translateX(25px);
}

.sidebar.collapsed .logo-text,
.sidebar.collapsed .search,
.sidebar.collapsed nav li span,
.sidebar.collapsed .toggle-text {
    display: none;
}

.sidebar.collapsed .logo {
    justify-content: center;
}

.sidebar.collapsed nav li {
    justify-content: center;
}

.sidebar.collapsed nav li i {
    margin-right: 0;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 5;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.content-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 100%;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .sidebar.collapsed {
        width: 100%;
    }

    .main-container {
        width: 100%;
    }
}

/* loading css */

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #e0e0e0;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



 


  
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 40px;
    justify-content: center;
    flex: 1 1 90%;
    min-width: 200px;
    max-width: 80%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 15px;
    transition: all 0.3s ease;
    padding-right: 200px;
   
  }
  .gauge-container:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    border-color: #d0d0d0;
  }
  
  .card {
    position: relative;
    width: 220px;
    height: 250px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: 88px;

  }
  
  .card-content {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  
  
  .card-content svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px, 5px);
  
  
  }
  
  .card-content svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
  }
  
  @keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
   .circle-progress {
    position: absolute;
  inset: 5px;
  z-index: 10;
  } 
  
  @keyframes animateDot {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(calc(3.6deg * var(--num)));
    }
  }
  
  .circle-progress::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                0 0 30px var(--clr);
  }
  
  .number {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
  }
  
  .number .value {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 700;
    font-size: 1rem;
  }
  
  .icon {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.75);
  }
  


.dashboard-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.cards {
    background-color: #181b1f;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.column-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 4px;
    background-color: #181b1f;
}

.iframe-overview {
    height: 400px;
}

.iframe-battery-power,
.iframe-battery-soc {
    height: 250px;
}

@media (max-width: 768px) {
    .column-4 {
        grid-template-columns: 1fr;
    }
}

   </style>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
   
    <div class="container">
        <div id="loadingOverlay" class="loading-overlay">
            <div class="loading-spinner"></div>
          </div>
          <div id="pageContent"> </div>
        <div class="sidebar" id="sidebar">
            <div class="logo">
              <div class="logo-icon"><img src="https://carbonoz.com/assets/images/image04.jpg?v=8b5d1d9b" width="45px" alt=""></div>
                <span class="logo-text">Carbonoz <span class="highlight">SolarAutopilot</span></span>
            </div>
            <div class="search">
                <input type="text" placeholder="Search...">
            </div>
            <nav>
              <ul>
                <li><a href="<%= ingress_path %>/"><i>🏠</i><span>Dashboard</span></a></li>
                <li><a href="<%= ingress_path %>/dashboard"><i>⚡</i><span>Energy</span></a></li>
                <li><a href="<%= ingress_path %>/chart"><i>📊</i><span>Charts</span></a></li>
                <li><a href="<%= ingress_path %>/messages"><i>💬</i><span>Messages</span></a></li>
                <li><a href="<%= ingress_path %>/settings"><i>⚙️</i><span>Settings</span></a></li>
                <li><a href="<%= ingress_path %>/analytics"><i>📈</i><span>Analytics</span></a></li>
            </ul>
            </nav>
            <div class="bottom-options">
                <div class="toggle-sidebar" id="toggleSidebar">
                    <span class="toggle-text">Collapse sidebar</span>
                    <div class="toggle-switch" id="toggleSwitch"></div>
                </div>
            </div>
        </div>

        <div class="main-container">
            <header>
                <h1>Dashboard</h1>
            </header>

            <div class="main-content">
                <div class="content-card">
                   <div class="grid-container">
                          <!-- Solar Production Card -->
                          <div class="card">
                            <div class="card-content" style="--clr:#06ccff;--num:78">
                              <div class="circle-progress solar-production">
                                <svg>
                                  <circle class="background" cx="70" cy="70" r="70"></circle>
                                  <circle class="progress" cx="70" cy="70" r="70"></circle>
                                </svg>
                                <i class="fas fa-solar-panel icon" style="color: #06ccff;">Solar</i>
                                <div class="number">
                                  <div class="value">0.0 W </div>
                                </div>
                              </div>
                              <home-assistant-energy-usage-card
                                period="daily"
                                detail-period="monthly"
                                data="<%= JSON.stringify(data.solarProductionData) %>">
                              </home-assistant-energy-usage-card>
                            </div>
                          </div>
                          <!-- Battery State of Charge Card -->
                          <div class="card">
                            <div class="card-content" style="--clr:#ff00be;--num:78">
                              <div class="circle-progress battery-state-of-charge">
                                <svg>
                                  <circle class="background" cx="70" cy="70" r="70"></circle>
                                  <circle class="progress" cx="70" cy="70" r="70"></circle>
                                </svg>
                                <i class="fas fa-battery-full icon" style="color: #ff00be;">Battery</i>
                                <div class="number">
                                  <div class="value">0.0 %</div>
                                </div>
                              </div>
                              <home-assistant-battery-storage-card
                                data="<%= JSON.stringify(data.batteryStateOfChargeData) %>">
                              </home-assistant-battery-storage-card>
                            </div>
                          </div>
                          <!-- Grid Import Card -->
                          <div class="card">
                            <div class="card-content" style="--clr:#fee800;;--num:78">
                              <div class="circle-progress grid-import">
                                <svg>
                                  <circle class="background" cx="70" cy="70" r="70"></circle>
                                  <circle class="progress" cx="70" cy="70" r="70"></circle>
                                </svg>
                                <i class="fas fa-bolt icon" style="color: #fee800;;">Grid
                              </i>
                                <div class="number">
                                  <div class="value">0.0 W</div>
                                </div>
                              </div>
                              <home-assistant-energy-usage-card
                                period="daily"
                                detail-period="monthly"
                                data="<%= JSON.stringify(data.gridPowerData) %>">
                              </home-assistant-energy-usage-card>
                            </div>
                          </div>
                          <!-- Load Power Card -->
                          <div class="card">
                            <div class="card-content" style="--clr: #00ffae;--num:78">
                              <div class="circle-progress load-power">
                                <svg>
                                  <circle class="background" cx="70" cy="70" r="70"></circle>
                                  <circle class="progress" cx="70" cy="70" r="70"></circle>
                                </svg>
                                <i class="fas fa-bolt icon" style="color: #00ffae;">Load</i>
                                <div class="number">
                                  <div class="value">0.0 W</div>
                                </div>
                              </div>
                              <home-assistant-energy-usage-card
                                period="daily"
                                detail-period="monthly"
                                data="<%= JSON.stringify(data.loadPowerData) %>">
                              </home-assistant-energy-usage-card>
                            </div>
                          </div>
                    
                          <!-- Grid Voltage Card -->
                          <div class="card">
                            <div class="card-content" style="--clr:#ffa500;--num:78">
                              <div class="circle-progress grid-voltage">
                                <svg>
                                  <circle class="background" cx="70" cy="70" r="70"></circle>
                                  <circle class="progress" cx="70" cy="70" r="70"></circle>
                                </svg>
                                <i class="fas fa-bolt icon" style="color: #ffa500;">Grid V</i>
                                <div class="number">
                                  <div class="value">0.0 V</div>
                                </div>
                              </div>
                            </div>
                          </div>
              
                         
                        </div>
                      </section>
                      
                      <div class="dashboard-column">
                        <div class="cards" style="background-color: white;">
                            <iframe src="http://192.168.160.55:3000/d-solo/solar_dashboard?orgId=1&refresh=1m&panelId=1&theme=light" class="iframe-overview" scrolling="no"
                                    frameborder="0">
                            </iframe>
                        </div>
                    </div>
                    
                    <div class="dashboard-column">
                        <div class="cards column-4" style="background-color: white;">
                            <iframe src="http://192.168.160.55:3000/d-solo/solar_dashboard?orgId=1&refresh=1m&panelId=2&theme=light" class="iframe-battery-power"
                                    scrolling="no" frameborder="0">
                            </iframe>
                            <iframe src="http://192.168.160.55:3000/d-solo/solar_dashboard?orgId=1&refresh=1m&panelId=3&theme=light" class="iframe-battery-soc"
                                    scrolling="no" frameborder="0">
                            </iframe>
                        </div>
                    </div>
                
                </div>
            </div>

            <footer>
                <p>&copy; 2024 Carbonoz SolarAutopilot. All rights reserved.</p>
            </footer>
        </div>
    </div>
    <script>
        function updateRealTimeData() {
            fetch('<%= ingress_path %>/api/realtime-data')
              .then(response => response.json())
              .then(data => {
                console.log('Fetched Data:', data);
        
                updateCircleProgress('.solar-production', data.solarProduction, '#06ccff', 'W');
                updateCircleProgress('.battery-state-of-charge', data.batteryStateOfCharge, '#ff00be', '%');
                updateCircleProgress('.grid-import', data.gridImport, '#fee800', 'W');
                updateCircleProgress('.load-power', data.loadPower, '#00ffae', 'W');
                updateCircleProgress('.grid-voltage', data.gridVoltage, '#ffa500', 'V');
              })
              .catch(error => {
                console.error('Error fetching real-time data:', error);
              });
          }
        
          function updateCircleProgress(selector, data, color, unit) {
            const progressElement = document.querySelector(`${selector} .progress`);
            const valueElement = document.querySelector(`${selector} .value`);
            const iconElement = document.querySelector(`${selector} .icon`);
        
            const maxValue = unit === 'V' ? 500 : (unit === '%' ? 100 : 10000);
            const progress = (data.value / maxValue) * 100;
        
            progressElement.style.strokeDashoffset = 440 - (440 * progress / 100);
            progressElement.style.stroke = color;
            iconElement.style.color = color;
            valueElement.textContent = `${data.value.toFixed(1)} ${unit}`;
          }
        
          document.addEventListener('DOMContentLoaded', function() {
            updateRealTimeData(); // Initial update
            setInterval(updateRealTimeData, 5000); // Update every 5 seconds
          });
        </script>
       
       <script>
        // toggle sidebar
      
        const sidebar = document.getElementById('sidebar');
        const toggleSidebar = document.getElementById('toggleSidebar');
        const toggleSwitch = document.getElementById('toggleSwitch');
        
        toggleSidebar.addEventListener('click', () => {
          sidebar.classList.toggle('collapsed');
          toggleSwitch.classList.toggle('active');
        });
        
        
        // loading js
        
        document.addEventListener('DOMContentLoaded', function() {
          const loadingOverlay = document.getElementById('loadingOverlay');
          const pageContent = document.getElementById('pageContent');
        
          // Simulate loading time (you can adjust this as needed)
          setTimeout(() => {
            loadingOverlay.style.display = 'none';
            pageContent.style.display = 'block';
            // Trigger a custom event to signal that the page is ready
            document.dispatchEvent(new Event('pageReady'));
          }, 1500); // 1.5 seconds loading time
        });
       </script>
</body>
</html>
